*{
   font-family: 'Bitter', serif ;
   background-image: url("../img/background.png");
}
.container{
    margin: 0 auto;
    margin-top: 150px;
}
.upgrade{
    width: 160px;
    display: flex;

}
.jedna{
    width: 70px;
}
.dva{
    width: 70px;
    padding-left: 20px;
}
#cookie{
    max-width: 220px;
    width: 100%;
    display: table;
    margin: 0 auto;
    transition: 0.2s ease-in;
    
}

#counter{
    color: white;
    font-size: 35px;
    text-align: center;
}
#upgr{
    max-width: auto;
    width: 70px;
}
#auto{
    max-width: auto;
    width: 70px;
}
img{
    width: 70px;
}
#farm{
    max-width: auto;
    width: 70px;
}